{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-4 mb-4 box-element product">Wszystkie pliki cyfrowe</h2>

<div class="row align-items-stretch">
    {% for product in products %}
    {% if product.digital == True%}
    <div class="mb-3 w-100">
        <div class="row no-gutters">
            <div class="col-3">
                <img class="thumbnail img-fluid mx-auto d-block" src="{{ product.imageURL }}" alt="Tu powinna być okładka" style="height: 200px;">
            </div>
            <div class="col-6">
                <div class="box-element text-center product-description" style="height: 200px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
                    <h4 class="mb-0"><strong>{{ product.name|title }}</strong></h4>
                    <h5><strong>{{ product.author }}</strong></h5>
                    <h6 class="mb-1">Gatunek: {{ product.genre }}</h6>
                    <hr style="height: 0.05px; margin-bottom: 1rem;">
                    <p>Krótki opis pliku: {{ product.name|slice:"0:1"|upper }}{{ product.name|slice:"1:"|lower }}</p>
                </div>
            </div>
            <div class="col-3">
                <div class="box-element text-center product-description" style="height: 200px; display: flex; flex-direction: column; justify-content: center;">
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn btn-custom-color2 mb-2 mx-auto update-cart">Wypożycz</button>
                    <a class="btn btn-custom-color3 mx-auto" href="{% url 'details' product.id %}">Szczegóły</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock content %}