{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <h2 class="text-center mt-4 mb-4 box-element product">Polecane książki</h2>
    
<div class="row">
	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
            <h6><strong>KsiazkaX</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn btn-custom-color2">Wypożycz</button>
		    <a class="btn btn-outline-success" href="#">Przeglądaj</a>
		    
		</div>
	</div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6><strong>KsiazkaX</strong></h6>
		    <hr>

            <button  class="btn btn-outline-secondary add-btn btn-custom-color2">Wypożycz</button>
		    <a class="btn btn-outline-success" href="#">Przeglądaj</a>
		    
		</div>
	</div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
            <h6><strong>KsiazkaX</strong></h6>
		    <hr>

            <button  class="btn btn-outline-secondary add-btn btn-custom-color2">Wypożycz</button>
		    <a class="btn btn-outline-success" href="#">Przeglądaj</a>
		    
		</div>
	</div>
</div>
{% endblock content %}